.button {
    background: yellow;
    display: inline-block;
    color: black;
    font-size: 2.5vw;
    line-height: 1.2;
    padding: 1vw;
    border-radius: 10px;
    text-decoration: none;
}

.button:hover {
    background-color: blue;
    color: white;
}